/Dudo-Mobile/*.class
/Dudo-Mobile/*.log
/Dudo-Mobile/*.pyc
/Dudo-Mobile/*.swp
/Dudo-Mobile/.DS_Store
/Dudo-Mobile/.atom/
/Dudo-Mobile/.build/
/Dudo-Mobile/.buildlog/
/Dudo-Mobile/.history
/Dudo-Mobile/.svn/
/Dudo-Mobile/.swiftpm/
/Dudo-Mobile/migrate_working_dir/
/Dudo-Mobile/*.iml
/Dudo-Mobile/*.ipr
/Dudo-Mobile/*.iws
/Dudo-Mobile/.idea/
/Dudo-Mobile/**/doc/api/
/Dudo-Mobile/**/ios/Flutter/.last_build_id
/Dudo-Mobile/.dart_tool/
/Dudo-Mobile/.flutter-plugins
/Dudo-Mobile/.flutter-plugins-dependencies
/Dudo-Mobile/.pub-cache/
/Dudo-Mobile/.pub/
/Dudo-Mobile/build/
/Dudo-Mobile/app.*.symbols
/Dudo-Mobile/app.*.map.json
/Dudo-Mobile/android/app/debug
/Dudo-Mobile/android/app/profile
/Dudo-Mobile/android/app/release

